body{
    background-color: rgb(56, 183, 199)
}
h3{
    font-family: cursive;
    color: rgb(126, 11, 11);
}
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(86, 5, 87);
}
